# ── Public ──────────────────────────────────────────────────────
VITE_PUBLIC_BUILDER_KEY=__BUILDER_PUBLIC_KEY__
PING_MESSAGE="ping pong"

# ── Server ───────────────────────────────────────────────────────
PORT=3001
NODE_ENV=production
